.login__title {
    margin-top: 60px;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #ffffff;
}

@media screen and (max-width: 360px) {
  .login__link {
      width: 90vw;
  }
}