.popup__container {
    min-width: 430px;
    min-height: 330px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    position: relative;
    margin: auto;
    z-index: 2;
}

@media screen and (max-width: 460px) {
    .popup__container {
        min-width: 282px;
        min-height: 322px;
    }
}